<footer class="footer-three footer-two main-footer" style="background-image: url('assets/images/backgrounds/footer-bg-2-1.png');">
    <div class="main-footer__top">
        <div class="container">
            <div class="row gutter-y-30">
                <div class="col-md-12 col-xl-3 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="00ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="footer-widget footer-widget--about">
                        <h2 class="footer-widget__title">about Sanwariya Mandal</h2><!-- /.footer-widget__title -->
                        <p class="footer-widget__about-text">Sanwariya Mitra Mandal is a registered trust. Which has been working for the last 3 years in the area of Gaur City, Gr Noida West.</p>
                    </div><!-- /.footer-widget -->
                    <a href="https://www.google.com/maps/@23.506657,90.3443647,7z?entry=ttu" class="footer-widget__map">
                        <span class="footer-widget__map__text">View Map</span>
                        <span class="footer-widget__map__icon icon-paper-plane"></span>
                    </a>
                </div><!-- /.col-md-12 col-xl-3 -->
                <div class="col-xl-3 col-md-5 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <div class="footer-widget footer-widget--contact">
                        <h2 class="footer-widget__title">Get in touch!</h2><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__info">
                            <li> <span class="icon-location"></span>
                                <address>Gaur City Greater Noida West</address>
                            </li>
                            <li> <span class="icon-phone"></span><a href="tel:+91 8802434357">+91 8802 434 357</a></li>
                            <li> <span class="icon-envelope"></span><a href="mailto:sanwariyamitramandal@gmail.com">sanwariyamitramandal@gmail.com</a></li>
                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-xl-3 col-md-5 -->
                <div class="col-md-3 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <div class="footer-widget footer-widget--links">
                        <h2 class="footer-widget__title">Quick Links</h2><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__links">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/what-we-do">What we Do</a></li>
                            <li><a href="/donate"> Donation</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul><!-- /.list-unstyled footer-widget__links -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-4 col-xl-3 wow fadeInUp animated" data-wow-duration="1500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
                    <div class="footer-widget footer-widget--news">
                        <h2 class="footer-widget__title">Upcoming Event</h2><!-- /.footer-widget__title -->
                        <div class="footer-widget__news">
                            <div class="footer-widget__news__single">
                                <div class="footer-widget__news__image">
                                    <img src="assets/images/blog/footer-1.png" alt="blog">
                                </div><!-- /.footer-widget__news__image -->
                                <div class="footer-widget__news__content">
                                    <h3 class="footer-widget__news__title"><a href="#">Nishan Shobha Yatra</a></h3><!-- /.footer-widget__news__title -->
                                    <div class="footer-widget__news__meta">
                                        <span class="footer-widget__news__date">22 Nov 2025</span>
                                    </div><!-- /.footer-widget__news__meta -->
                                </div><!-- /.footer-widget__news__content -->
                            </div><!-- /.footer-widget__news__single -->
                            <div class="footer-widget__news__single">
                                <div class="footer-widget__news__image">
                                    <img src="assets/images/blog/footer-2.png" alt="blog">
                                </div><!-- /.footer-widget__news__image -->
                                <div class="footer-widget__news__content">
                                    <h3 class="footer-widget__news__title"><a href="#">Shri Shyam Sankirtan</a></h3><!-- /.footer-widget__news__title -->
                                    <div class="footer-widget__news__meta">
                                        <span class="footer-widget__news__date">23 Nov 2025</span>
                                    </div><!-- /.footer-widget__news__meta -->
                                </div><!-- /.footer-widget__news__content -->
                            </div><!-- /.footer-widget__news__single -->
                        </div><!-- /.footer-widget__news -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-md-4 col-xl-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-footer__top -->
    <div class="footer-three__bottom">
        <div class="container">
            <div class="footer-three__bottom__inner">
                <p class="footer-three__copyright">
                    © Copyright <span class="dynamic-year">2025</span> Sanwariya Mitra Mandal All Rights Reserved.
                </p>
            </div><!-- /.footer-three__bottom__inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-three__bottom -->
</footer>