<header class="main-header-three main-header sticky-header--three sticky-header sticky-header--normal">
    <div class="container-fluid">
        <div class="main-header__inner">
        
            <div class="main-header__right">
                <a href="index.html">
                    <img src="assets/images/logo-dark.png" alt="Cleenhearts HTML" width="110">
                </a>
                <div class="main-header__right__left">
                    <nav class="main-header__nav main-menu main-menu--three">
                        <ul class="main-menu__list">
                            <li class="nav-item">
                                <a href="index.html">Home</a>                                       
                            </li>
                            <li class="nav-item">
                                <a href="about.html">About Us</a>
                            </li>                             
                            <li class="nav-item">
                                <a href="what-we-do.html">What We Do</a>
                            </li>
                            <li class="nav-item">
                                <a href="donate.html">Donation</a>
                            </li>
                            <li class="nav-item">
                                <a href="gallery.html">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a href="contact.html">Contact Us</a>
                            </li>

                        </ul>
                    </nav><!-- /.main-header__nav -->
                </div><!-- /.main-header__right__left -->
                <div class="main-header__right__right">
                    <div class="mobile-nav__btn mobile-nav__toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- /.mobile-nav__toggler -->
                  
                    <a href="donate.html" class="cleenhearts-btn main-header__btn">
                        <div class="cleenhearts-btn__icon-box">
                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-donate"></span></div>
                        </div>
                        <span class="cleenhearts-btn__text">donate now</span>
                    </a><!-- /.thm-btn main-header__btn -->
                    <div class="main-header-three__social">
                        <span class="main-header-three__social__title">Follow us:</span><!-- /.main-header-three__social__title -->
                        <div class="social-link-two">
                            <a target="_blank" href="https://www.facebook.com/share/16rXkcSAmE/?mibextid=wwXIfr">
                                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                            <a target="_blank" href="https://www.instagram.com/sanwariya_mitra_mandal_trust?igsh=MWExaHAyNXNkOWVhYw==">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a>
                            <a target="_blank" href="https://chat.whatsapp.com/INNS8fS9985KaZkWJdgp8X?mode=ems_copy_t" aria-hidden="true">
                                <i class="fab fa-whatsapp"></i>
                                <span class="sr-only">Whatsapp</span>
                            </a>
                            
                        </div><!-- /.footer-two__social -->
                    </div><!-- /.main-header-three__social -->
                </div><!-- /.main-header__right__right -->
            </div><!-- /.main-header__right -->
        </div><!-- /.main-header__inner -->
    </div><!-- /.container-fluid -->
</header><!-- /.main-header -->
